<div class="phx-hero">
  <h2>Hello World, from Phoenix!</h2>
</div>



<div class="search-cont row">
        <div class="column column-25">
        </div>
        <div class="clear"></div>
    <button type="button">Import</button>
    <button type="button">Export</button>
    </div>